# Homework 2: Regression

## Set Up
HousingPrices.csv describes the total price of houses, all located in neighborhood ‘ABC’. The dataset consists of 17 attributes (columns) for each house and contains 1460 sample houses (rows). The dataset can be found in Files/Assignment_Datasets

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving HousingPrices-2.csv to HousingPrices-2.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
house_price_df = pd.read_csv('HousingPrices-2.csv')

In [ ]:
house_price_df.shape

(1460, 17)

In [ ]:
house_price_df.head(5)

,Id,LotFrontage,LotArea,HouseStyle,OverallQual,OverallCond,YearBuilt,TotalBsmtSF,CentralAir,1stFlrSF,2ndFlrSF,FullBath,TotalRooms,GarageCars,GarageArea,YrSold,SalePrice
0,1,65.0,8450.0,2Story,7,5,2003,856.0,Y,856,854,2,8,2,548,2008,208500
1,2,80.0,9600.0,1Story,6,8,1976,NaN,Y,1262,0,2,6,2,460,2007,181500
2,3,68.0,11250.0,2Story,7,5,2001,920.0,Y,920,866,2,6,2,608,2008,223500
3,4,60.0,9550.0,2Story,7,5,1915,NaN,Y,961,756,1,7,3,642,2006,140000
4,5,84.0,14260.0,2Story,8,5,2000,1145.0,Y,1145,1053,2,9,3,836,2008,250000

In [ ]:
house_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           1460 non-null   int64
 1   LotFrontage  1201 non-null   float64
 2   LotArea      1341 non-null   float64
 3   HouseStyle   1460 non-null   object
 4   OverallQual  1460 non-null   int64
 5   OverallCond  1460 non-null   int64
 6   YearBuilt    1460 non-null   int64
 7   TotalBsmtSF  913 non-null    float64
 8   CentralAir   1460 non-null   object
 9   1stFlrSF     1460 non-null   int64
 10  2ndFlrSF     1460 non-null   int64
 11  FullBath     1460 non-null   int64
 12  TotalRooms   1460 non-null   int64
 13  GarageCars   1460 non-null   int64
 14  GarageArea   1460 non-null   int64
 15  YrSold       1460 non-null   int64
 16  SalePrice    1460 non-null   int64
dtypes: float64(3), int64(12), object(2)
memory usage: 194.0+ KB

## Data Preprocessing

In [ ]:
house_price_df = house_price_df.drop(['Id'], axis=1)

### categrogical -> numerical

In [ ]:
house_price_df['HouseStyle'].unique()

array(['2Story', '1Story', '1.5Fin', '1.5Unf', 'SFoyer', 'SLvl', '2.5Unf',
       '2.5Fin'], dtype=object)

In [ ]:
house_price_df['CentralAir'].unique()

array(['Y', 'N'], dtype=object)

In [ ]:
house_price_df['HouseStyle'].replace({'2Story':1, '1Story':2, '1.5Fin':3, '1.5Unf':4, 'SFoyer':5, 'SLvl':6, '2.5Unf':7, '2.5Fin':8},inplace=True)
house_price_df['CentralAir'].replace({'Y':1, 'N':0},inplace=True)

### missing values

In [ ]:
house_price_df.isnull().sum()

LotFrontage    259
LotArea        119
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
TotalBsmtSF    547
CentralAir       0
1stFlrSF         0
2ndFlrSF         0
FullBath         0
TotalRooms       0
GarageCars       0
GarageArea       0
YrSold           0
SalePrice        0
dtype: int64

#### method 1: Drop the rows that have NaN values

In [ ]:
house_price_df_1 = house_price_df.dropna()

In [ ]:
house_price_df_1.shape

(694, 16)

#### method 2: Drop the columns that have NaN values

In [ ]:
house_price_df_2 = house_price_df.dropna(axis=1,how='any')

In [ ]:
house_price_df_2.shape

(1460, 13)

#### method 3: Mean Imputation

In [ ]:
house_price_df_3 = house_price_df

In [ ]:
house_price_df_3[['LotFrontage', 'LotArea', 'TotalBsmtSF']] = house_price_df_3[['LotFrontage', 'LotArea', 'TotalBsmtSF']].fillna(house_price_df_3[['LotFrontage', 'LotArea', 'TotalBsmtSF']].mean())

In [ ]:
house_price_df_3.shape

(1460, 16)

## Model Training

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import accuracy_score

### Model 1

In [ ]:
y_1 = house_price_df_1[['SalePrice']]
x_1 = house_price_df_1.drop(['SalePrice'], axis=1)

In [ ]:
x_train_1, x_test_1, y_train_1, y_test_1 = train_test_split(x_1,y_1,test_size=0.3,random_state=23)

#Scaling
scaler = StandardScaler()
x_train_1 = scaler.fit_transform(x_train_1)
x_test_1 = scaler.transform(x_test_1)

In [ ]:
# Regression
regressor = LinearRegression()
regressor.fit(x_train_1, y_train_1)
y_pred_1 = regressor.predict(x_test_1)

In [ ]:
# Evaluation
rmse_1 = sqrt(mean_squared_error(y_pred_1, y_test_1))
print('Root Mean Squared Error of Model 1: ' + str(rmse_1))

Root Mean Squared Error of Model 1: 35668.9500588366

In [ ]:
r1 = regressor.fit(x_train_1, y_train_1)
r1_coef = r1.coef_.tolist()[0]

In [ ]:
columnNames = list(house_price_df_1.columns)[:-1]

columnCoefs = {}
for i in range(len(columnNames)):
  columnCoefs[columnNames[i]] = r1_coef[i]

columnCoefs

{'1stFlrSF': 28223.793661556156,
 '2ndFlrSF': 27165.376895610505,
 'CentralAir': -3786.7677762955227,
 'FullBath': -5924.770785214867,
 'GarageArea': 12235.676861674234,
 'GarageCars': -2759.9360603715713,
 'HouseStyle': 1443.2154096732295,
 'LotArea': 7879.2130770010735,
 'LotFrontage': 1113.295539470002,
 'OverallCond': 8683.630050437296,
 'OverallQual': 23226.972131782106,
 'TotalBsmtSF': 8986.902369893949,
 'TotalRooms': -2265.5846404317563,
 'YearBuilt': 17444.65688124988,
 'YrSold': 295.85940212021205}

### Model 2

In [ ]:
y_2 = house_price_df_2[['SalePrice']]
x_2 = house_price_df_2.drop(['SalePrice'], axis=1)

In [ ]:
x_train_2, x_test_2, y_train_2, y_test_2 = train_test_split(x_2,y_2,test_size=0.3,random_state=23)

#Scaling
scaler = StandardScaler()
x_train_2 = scaler.fit_transform(x_train_2)
x_test_2 = scaler.transform(x_test_2)

In [ ]:
# Regression
regressor = LinearRegression()
regressor.fit(x_train_2, y_train_2)
y_pred_2 = regressor.predict(x_test_2)

In [ ]:
# Evaluation
rmse_2 = sqrt(mean_squared_error(y_pred_2, y_test_2))
print('Root Mean Squared Error of Model 2: ' + str(rmse_2))

Root Mean Squared Error of Model 2: 35181.136061180056

In [ ]:
r2 = regressor.fit(x_train_2, y_train_2)
r2_coef = r2.coef_.tolist()[0]

In [ ]:
columnNames = list(house_price_df_2.columns)[:-1]

columnCoefs = {}
for i in range(len(columnNames)):
  columnCoefs[columnNames[i]] = r2_coef[i]

columnCoefs

{'1stFlrSF': 26994.780829347426,
 '2ndFlrSF': 16724.393480969986,
 'CentralAir': -1172.0754610292647,
 'FullBath': -2595.3004333733297,
 'GarageArea': 2124.9065822265256,
 'GarageCars': 9055.009478146512,
 'HouseStyle': -605.512750898411,
 'OverallCond': 7504.311518741008,
 'OverallQual': 31084.134781625788,
 'TotalRooms': 5742.062896250993,
 'YearBuilt': 13938.272852931363,
 'YrSold': 86.73572747654572}

### Model 3

In [ ]:
y_3 = house_price_df_3[['SalePrice']]
x_3 = house_price_df_3.drop(['SalePrice'], axis=1)

In [ ]:
x_train_3, x_test_3, y_train_3, y_test_3 = train_test_split(x_3,y_3,test_size=0.3,random_state=23)

# Scaling
scaler = StandardScaler()
x_train_3 = scaler.fit_transform(x_train_3)
x_test_3 = scaler.transform(x_test_3)

In [ ]:
# Regression
regressor = LinearRegression()
regressor.fit(x_train_3, y_train_3)
y_pred_3 = regressor.predict(x_test_3)

In [ ]:
# Evaluation
rmse_3 = sqrt(mean_squared_error(y_pred_3, y_test_3))
print('Root Mean Squared Error of Model 3: ' + str(rmse_3))

Root Mean Squared Error of Model 3: 34175.90978797836

In [ ]:
r3 = regressor.fit(x_train_3, y_train_3)
r3_coef = r3.coef_.tolist()[0]

In [ ]:
columnNames = list(house_price_df_3.columns)[:-1]

columnCoefs = {}
for i in range(len(columnNames)):
  columnCoefs[columnNames[i]] = r3_coef[i]

columnCoefs

{'1stFlrSF': 22880.145119230718,
 '2ndFlrSF': 16664.780170636244,
 'CentralAir': -1600.5958367373973,
 'FullBath': -2787.0130269084957,
 'GarageArea': 2633.669150377804,
 'GarageCars': 8130.049302300795,
 'HouseStyle': -423.0982904298846,
 'LotArea': 4587.504573724371,
 'LotFrontage': -1305.0291821463313,
 'OverallCond': 7320.630594372784,
 'OverallQual': 30613.620020723858,
 'TotalBsmtSF': 5846.513308961348,
 'TotalRooms': 6109.32812636523,
 'YearBuilt': 14011.228460940754,
 'YrSold': 170.07148640546134}